.message {
display: flex;
color: white;
background-color: #b2f1ca;
padding: 10px;
}
.message img{
    width: 50px;
    border: 1px black solid;
    border-radius: 50%;
    margin-right: 15px;
    
}
h4{
    color: rgb(209, 131, 224);
  margin: 10px 0 0 15px;  
}
.text{
    margin: 0 0 0 15px;
}
.avatarCont{
    display: flex;
    align-items: flex-end;
    padding-left:15px
    
}
.speechBubble {
	position: relative;
	background: #254112;
    border-radius: .4em;
    width:15%;
    height: 75px;
    
}

.speechBubble::after {
	content: '';
	position: absolute;
	left: 0;
	border: 20px solid transparent;
	border-right-color: #254112;
	border-left: 0;
	border-bottom: 0;
    margin-top: -20px;
	margin-left: -15px;
}
.time{
    text-align: end;
    margin: 0;
    padding: 0 10px 0 0;
    color:rgb(177, 177, 177)

}